* {
    font-family: "Roboto", "Times New Roman";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.main1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1F2937;
    height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main1left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    max-width: 500px;
}

.main1BigText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main1SubText {
    font-size: 18px;
    color: #E5E7EB;

}

.main1Button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: fit-content;
}

.main1Image{
    width: 200px;
    height: auto;
}

.footer {
    text-align: center;
}