* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    /* padding-top removed due to messing up the link list offset*/
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    padding-top: 16px;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.main1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1F2937;
    min-height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main1left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    max-width: calc(100%/2);
}

.main1BigText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main1SubText {
    font-size: 18px;
    color: #E5E7EB;
}

.main1Button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: fit-content;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 6px;
    border-radius: 10px;
    border-color: #E5E7EB;
    font-size: 14px;
}

.main1Image{
    width: 200px;
    height: auto;
    border-radius: 24px;
}

.main2 {
    display: flex;
    flex-direction: column;
}
.main2BigText {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
    padding: 8px
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    outline-width: 2px;
    outline-color: #1F2937;
    outline-style: dashed;
    border-radius: 8px;
    padding: 16px;
}

.main3 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote {
    text-align: center;
    max-width: calc(100%/2);
}

.quote-sayer {
    text-align: center;
}
.footer {
    text-align: center;
}